<%= form_for @outlay do |f| %>
	<% @outlay.errors.full_messages.each do |erro| %>
    	<div class="alert alert-danger" role="alert"><%= erro %></div>
	<% end %>

	<div class="form-group">
	    <%= f.label :user %>
	    <input class="form-control" id="disabledInput" type="text" placeholder="<%= current_user.email %>" disabled>
	</div>

	<div class="form-group">
	    <%= f.label :area %>
	    <%= f.collection_select :area_id, @areas, :id, :area, {prompt: "Selectiona uma área"}, {class: "form-control"} %>
	</div>

	<div class="form-group">
	    <%= f.label :payform %>
	    <%= f.collection_select :payform_id, @payforms, :id, :form, {prompt: "Selecione um pagamento"}, {class: "form-control"} %>
	</div>

	<div class="form-group">
	    <%= f.label :description %>
	    <%= f.text_area :description, {class: "form-control"}%>
	</div>

	<div class="form-group">
	    <%= f.label :Custo %>
	    <%= f.text_field :cost, {class: "form-control", type: "decimal"}%>
	</div>

	<div class="form-group">
		<%= f.label :Data %>
		<%= f.date_field :payment_day, {class: "form-control"}%>
	</div>
    	<%= f.submit "Gravar", class: "btn btn-primary" %>
    	<%= link_to "Voltar", outlays_path, class: "btn btn-default"%>
	</div>
<% end %>