<%= link_to "Adicionar", new_outlay_path, class: "btn btn-default pull-right"%>
<h1>Despesas</h1>

<table class="table table-striped table-condensed"> <!-- table-condensed -->
    <thead>
        <tr>
            <th>ID</th>
            <th>Área</th>
            <th>Pagamento</th>
            <th>Descrição</th>
            <th>Data Pagamento</th>
            <th>Valor</th>
            <th><span class="pull-right">Opções</span></th>
        </tr>
    </thead>
    <tbody>
        <% @outlays.each do |outlay| %>
        <tr>
            <td><%= outlay.id %></td>
            <td><%= link_to outlay.area.area, area_path(outlay.area_id)%></td>
            <td><%= link_to outlay.payform.form, payform_path(outlay.payform_id) %></td>
            <td><%= outlay.description %></td>
            <td><%= outlay.payment_day %></td>
            <td><%= outlay.cost %></td>            
            <td><span class="pull-right">
                <%= link_to "Ver", outlay_path(outlay) %>
                 |        
                <%= link_to " Editar", edit_outlay_path(outlay) %>
                 | 
                <%= link_to " Deletar", edit_outlay_path(outlay) %>
                </span>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

