<!DOCTYPE html>
<html>
  <head>
    <title>Sumptus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-default">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Sumptus", root_path, class: "navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Despesas", outlays_path %></li>
        <li><%= link_to "Formas de Pagamento", payforms_path %></li>
        <li><%= link_to "Áreas", areas_path %></li>
        <% if user_signed_in? %><li><%= link_to "Relatório", controller: 'outlays', action: 'relatorio' %></li><% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
            <%= link_to "Desconectar de " + current_user.email, destroy_user_session_path, method: 'delete' %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  	</nav>
  	<div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>
    	<%= yield %>
    </div>
  </body>
</html>
